/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  box-sizing: border-box;
}

header {
  width: 100%;
  margin: 0 auto;
  height: 160px;
}

.nav-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 6px;
}

.left-nav {
  background-color: rgb(100, 100, 100);
  width: 22%;
}

.middle-nav {
  width: 55%;
}

.right-nav {
  background-color: rgb(161, 161, 161);
  width: 22%;
}

ul.nav-list {
  display: flex;
}

.top {
  height: 70px;
  background-color: rgb(100, 100, 100);
  width: 100%;
  margin-bottom: 4px;
}

.middle {
  background-color: rgb(63, 63, 63);
  height: 40px;
  margin-bottom: 4px;
}

.bottom {
  background-color: lightgrey;
  height: 35px;
}

.nav-list li {
  width: 20%;
  padding: 0 6px;
  margin: 0 auto;
}

/* main content */
main {
  width: 99%;
  margin: 0 auto;
}

.main-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 2px;
}

.main-cards {
  background-color:  rgb(100, 100, 100);
  height: 800px;
}